# exclude tmp and log files created by npm and minifiers
**/*.tmp
**/*.log

# exclude node_modules
/node_modules
**/*/node_modules

# exclude builds and vendor files
/bin
/build/nwjs
/build/greenworks